*.o
*.log
server
*.zip
.idea/*
**/__pycache__
**/server
*.aux
*.bbl
*.blg
*.out
*.pyg
*.gz
*.toc
**/_minted-report
**/svg-inkscape
*.nav
*.snm
*.bkp
*.swp
*.txt
**/.idea/*
*.ko
*.mod
*.mod.c
*.symvers
*.order
*.o
*.cmd
*.iml
**/.gradle/*
**/local.properties
**/.idea/caches
**/.idea/libraries
**/.idea/modules.xml
**/.idea/workspace.xml
**/.idea/navEditor.xml
**/.idea/assetWizardSettings.xml
.DS_Store
**/build
**/captures
**/.externalNativeBuild
**/.cxx
**/local.properties
**/.idea/
**/out/